
:root {
    --primary: #75019E;
    --text-color: #707070;
}

* {
    box-sizing: border-box;
}

select {
    display: inline;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label input[type=checkbox] ~ span {
    color: var(--text-color);
}


.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-content-end {
    justify-content: flex-end;
}

.flex.wrap {
    flex-wrap: wrap;
}

.w-100 {
    width: 100%;
}

.content-center {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

header {
    margin-top: 20px;
}

header img {
    height: 35px;
}

header .user-actions a:nth-child(1){
    margin-right: 20px;
}

.custom-input {
    font-size: 16px;
    margin-bottom: 16px;
}

.custom-input:last-child {
    margin-bottom: 0;
}

.custom-input label {
    display: none;
}
.custom-input select,
.custom-input textarea,
.custom-input input {
    border-radius: 50px;
    border: 1px solid #CCCCCC;
    padding: .8ch 2ch;
    width: 100%;
}

.custom-input textarea {
    border-radius: 15px;
}

.custom-input select::placeholder,
.custom-input textarea::placeholder,
.custom-input input::placeholder {
    color: var(--text-color);
}

.custom-input select:focus,
.custom-input input:focus,
.custom-input textarea:focus,
.custom-input.posppend .posppend input:focus,
.custom-input select:checked {
    border: 1px solid purple;
    outline: none;
}

.custom-input.posppend {
    display: flex;
    flex-direction: row;
}

.custom-input.posppend select,
.custom-input.posppend input {
    border-radius: 50px 0 0 50px;
}

.custom-input.posppend .posppend {
    width: 30%;
}

.custom-input.posppend .posppend select,
.custom-input.posppend .posppend input {
    border-radius: 0 50px 50px 0;
    padding: 0;
    height: 100%;
    min-width: unset;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-left: unset;
}

.custom-input.icon {
    position: relative;
}
.custom-input.icon .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2ch;
}

.h-100vh {
    height: 100vh;
}

.alert {
    display: block;
    width: 100%;
    padding: 1.3ch;
    border-radius: 5px;
    margin: 2ch 1ch;
    background-color: tomato;
    color: white;
}

form fieldset {
    border: 0;
}

form fieldset > legend {
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: .8ch;
}

.usuario-logado a img {
    margin-right: 2ch;
    width: 45px;
    height: 45px;
    object-fit: scale-down;
    border-radius: 50px;
}

form .image-preview {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

form .image-preview div:first-child {
    height: 100%;
}

form .image-preview img {
    width: 85px;
    height: 85px;
    object-fit: scale-down;
}

form .image-preview button {
    margin: auto;
}

.m-0 {
    margin: 0;
}

.ml-2 {
    margin-left: 2ch;
}

.p-1 {
    padding: 1ch;
}
.p-2 {
    padding: 2ch;
}

.w-50 {
    width: 50%;
}


/* ANUNCIO */

.anuncio {
    width: calc(50% - 8px);
    max-height: 270px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
.anuncio:nth-child(odd) {
    margin: 0 8px 8px 0;
}

.anuncio img {
    max-height: 270px;
    object-fit: cover;
}

.anuncio:hover .footer {
    opacity: 1;
}

.anuncio .footer {
    opacity: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    color: white;
    padding: 1ch;
    transition: opacity 350ms ease-out;
}

.anuncio .footer .bairro {
    font-size: 12px;
    font-weight: lighter;
}

.anuncio .footer .cidade {
    font-size: 14px;
    font-weight: lighter;
}


.anuncio .footer p {
    margin: 0;
    padding: 0;
}

.anuncio .footer .infos {
    width: 40%;
}

.anuncio .footer .infos .alugar {
    display: inline;
    font-size: 12px;
    background-color: #FF4600;
    text-align: center;
    padding: 1ch 2ch;
    border-radius: 50px;
}

.anuncio .footer .infos .preco {
    margin-top: 1ch;
}
