
h1 {
    text-align: center;
    font-size: 50px;
    margin: 100px 0 120px 0;
}


#form-busca form button[type=submit] {
    margin-top: 16px;
    width: 100%;
}

#form-busca {
    position: sticky;
    top: 10px;
}

#form-busca h2 {
    font-size: 18px;
    font-weight: lighter;
}

#form-busca fieldset{
    margin-top: 16px;
}

#form-busca fieldset legend {
    margin-bottom: .9ch;
}

/* ANUNCIO */

.anuncio {
    width: calc(50% - 8px);
    max-height: 270px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
.anuncio:nth-child(odd) {
    margin: 0 8px 8px 0;
}

.anuncio img {
    max-height: 270px;
    object-fit: cover;
}

.anuncio:hover .footer {
    opacity: 1;
}

.anuncio .footer {
    opacity: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    color: white;
    padding: 1ch;
    transition: opacity 350ms ease-out;
}

.anuncio .footer .bairro {
    font-size: 12px;
    font-weight: lighter;
}

.anuncio .footer .cidade {
    font-size: 14px;
    font-weight: lighter;
}


.anuncio .footer p {
    margin: 0;
    padding: 0;
}

.anuncio .footer .infos {
    width: 40%;
}

.anuncio .footer .infos .alugar {
    display: inline;
    font-size: 12px;
    background-color: #FF4600;
    text-align: center;
    padding: 1ch 2ch;
    border-radius: 50px;
}

.anuncio .footer .infos .preco {
    margin-top: 1ch;
}