
h1 {
    text-align: center;
    font-size: 50px;
    margin: 100px 0 120px 0;
}


#form-busca form button[type=submit] {
    margin-top: 16px;
    width: 100%;
}

#form-busca {
    position: sticky;
    top: 10px;
}

#form-busca h2 {
    font-size: 18px;
    font-weight: lighter;
}

#form-busca fieldset{
    margin-top: 16px;
}

#form-busca fieldset legend {
    margin-bottom: .9ch;
}

.dropdown-content {
    width: fit-content;

}