<!doctype html>
<html lang="pr-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<!-- Materialize: css -->
	<link rel="stylesheet" href="/vendor/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/imoveisUsuario.css">
	
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Morabem</title>
</head>

<style>
	.titulo {
		font-size: 1.5rem;
		margin: 0;
		padding: 0;
	}
</style>
<body>
<div class="container">
	<header class="flex row">
		<div>
			<a href="/">
				<img src="/logo-horizontal.png"/>
			</a>
		</div>
		<div class="flex row w-100 justify-content-end">
			<div th:replace="fragments/header :: 'com-usuario'"></div>
		</div>
	</header>
	<main>
		<h1>Meus Anúncios</h1>
		<div class="imovel" th:each="anuncio : ${anuncios}" th:href="'/anuncio/' + ${a.getId()}">
			<div class="tumb">
				<img th:src="'/fotos/' + ${anuncio.getImovel().getFotos().get(0).getUrl()}" alt=" ">
			</div>
			<div class="detalhes">
				<div>
					<p class="titulo" th:text="${anuncio.getTitulo()}"></p>
					<p th:text="${anuncio.getImovel().printEndereco()}"></p>
					<span class="chip" th:text="${anuncio.getTipo()}"></span>
					<span class="chip" th:text="${anuncio.getImovel().getTipo()}"></span>
				</div>
				<div>
					<p th:text="'R$ ' + ${anuncio.getValor()}"></p>
				</div>
			</div>
			<div class="action">
				<a th:href="'/meus-anuncios/deletar?id=' + ${anuncio.getId()}">
					<i class="material-icons tooltipped" data-tooltip="Deletar">delete_forever</i>
				</a>
				<a th:href="'/anuncio/'+ ${anuncio.getId()} +'/editar'">
					<i class="material-icons tooltipped" data-tooltip="Editar">edit</i>
				</a>
				<a th:href="'/anuncio/' + ${anuncio.getId()}">
					<i class="material-icons tooltipped" data-tooltip="Ver Anúncio">visibility</i>
				</a>
				<ul class="pagination w-100" th:if="${anuncios.totalPages > 0}"
					th:with="currentUrl=(${@currentUrlWithoutParam.apply('page')})">
					<li th:each="pageNumber : ${pageNumbers}"
						th:class="${pageNumber == anuncios.number} ? active" class="waves-effect">
						<a th:text="${pageNumber + 1}"  th:href="@{${currentUrl}(page=${pageNumber})}"></a>
					</li>
				</ul>
			</div>
		</div>
	</main>
</div>

<script src="/vendor/js/jquery.mim.js"></script>
<script src="/vendor/js/hammer.js"></script>
<script src="/vendor/js/materialize.js"></script>
<script>
	$('.dropdown-trigger').dropdown();
	
	$(document).ready(function(){
		$('.tooltipped').tooltip();
	});
</script>
</body>
</html>