<!doctype html>
<html lang="pr-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<!-- Materialize: css -->
	<link rel="stylesheet" href="/vendor/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/cadastrarImovel.css">
	
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Morabem - Cadastrar imovel</title>
</head>
<body>
<div class="container">
	<header class="flex row">
		<div>
			<a href="/">
				<img src="/logo-horizontal.png"/>
			</a>
		</div>
		<div class="flex row w-100 justify-content-end">
			<div th:replace="fragments/header :: 'com-usuario'"></div>
		</div>
	</header>
	<main>
		<h1>Cadastrar Imovel</h1>
		
		<ul  th:unless="${erros == null}" class="alert">
			<li th:each="error : ${erros}" th:text="${error}"></li>
		</ul>
		
		<form th:object="${imovel}" th:action="@{/cadastro/imovel}" method="post">
			<fieldset>
				<legend>Tipo do Imovel</legend>
				<p>
					<label th:each="tipo : ${tipos}">
						<input class="with-gap" th:field="*{tipo}" type="radio" th:value="${tipo}" required/>
						<span th:text="${tipo}"></span>
					</label>
				</p>
			</fieldset>
			<fieldset>
				<legend>Sobre o Terreno</legend>
				<div class="row">
					<div class="custom-input col s6">
						<input th:field="*{areaConstruida}" type="text"
							   placeholder="Area Contruida*" required min="1"/>
						<small>Em metros quadrados(m²)</small>
					</div>
					<div class="custom-input col s6">
						<input th:field="*{areaTotal}" type="text"
							   placeholder="Area Total*" required min="1"/>
						<small>Em metros quadrados(m²)</small>
					</div>
				</div>
			</fieldset>
			
			<fieldset>
				<legend>Endereco</legend>
				<div class="row">
					<div class="custom-input col s6">
						<input th:field="*{endereco.cep}" type="text" id="cep"
							   placeholder="CEP*" required minlength="9" maxlength="9"
							   data-mask="00000-000"/>
					</div>
					<div class="custom-input posppend col s6">
						<input th:field="*{endereco.logradouro}" type="text"
							   required placeholder="Logradouro*" id="logradouro"/>
						<div class="posppend">
							<input th:field="*{numero}" type="number"
								   min="1" required id="numero"
								   placeholder="n°*"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="custom-input col s6">
						<input th:field="*{endereco.bairro}" type="text"
							   required placeholder="Bairro*" id="bairro"/>
					</div>
					<div class="custom-input posppend col s6">
						<label for="cidade">Cidade</label>
						<input th:field="*{endereco.cidade}" name="cidade"
							   required id="cidade" type="text" placeholder="Cidade*">
						<div class="posppend">
							<label for="uf">UF</label>
							<select name="uf" id="uf" th:field="*{endereco.uf}" required>
								<option value="ms">MS</option>
							</select>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Fotos do imovel</legend>
				<div class="fotos">
					<ul>
						<li>
							<input id="fotos-input" type="file" multiple accept="image/*" style="display: none">
							<a class="btn-floating btn-large waves-effect waves-light deep-purple darken-1"><i
									class="material-icons">add</i></a>
						</li>
					</ul>
				</div>
			
			</fieldset>
			<fieldset>
				<legend>Qualidades do Imovel</legend>
				<div class="atributos" id="attr-list">
					<div class="chip add deep-purple darken-1 waves-effect waves-light">
						<a class="modal-trigger" href="#add-atributo">
							<i class="material-icons">add</i>
						</a>
					</div>
				</div>
			</fieldset>
			
			<div class="action">
				<button class="btn waves-effect waves-light deep-purple darken-1" type="submit">
					Finalizar cadastro
				</button>
			</div>
		</form>
	</main>
	<aside>
		<div id="add-atributo" class="modal">
			<div class="modal-content">
				<h4>Adicionar Qualidade</h4>
				<div class="col s4">
					<div class="custom-input posppend">
						<select id="id-atributo">
							<option value="">Escolha uma</option>
							<option value="Banheiro">Banheiros</option>
							<option value="Quarto">Quantos</option>
							<option value="Varanda">Varandas</option>
							<option value="Sacada">Sacadas</option>
							<option value="Cozinha">Cozinhas</option>
							<option value="Garagem">Garages</option>
						</select>
						<div class="posppend">
							<label>Quantidade</label>
							<input id="quantidade-atributo" type="number" min="1" required placeholder="Quantidade">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
				<button type="button" id="btn-add-attr" class="waves-effect waves-green btn-flat">adicionar</button>
			</div>
		</div>
	</aside>
</div>

<script src="/vendor/js/jquery.mim.js"></script>
<script src="/vendor/js/hammer.js"></script>
<script src="/vendor/js/jquery.mask.min.js"></script>
<script src="/vendor/js/materialize.js"></script>
<script src="/js/cadastroImovel.js"></script>

<script>
	$('.dropdown-trigger').dropdown();
	
	$(document).ready(function () {
		$('.modal').modal();
	});
</script>

<script>
    $('#cep').autocompleteAddress({
        city: '#cidade',
        address: '#logradouro',
        neighborhood: '#bairro',
        publicAPI: 'https://viacep.com.br/ws/{{cep}}/json/',
    });
</script>
</body>
</html>