<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
<link rel="stylesheet" href="/vendor/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
	rel="stylesheet">

<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/cadastroAnuncio.css">

<title>Cadastro de Anuncio</title>

</head>
<body>

	<div class="content-center">
		<div class="form-wapper">
			<img class="logo" src="/logo-vertical.png" />
			<h1>Cadastrar anuncio</h1>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form autocomplete="off" action="#" method="post"
						class="form-horizontal" role="form">



						<div class="row">

							<div class="col s6">
								<div class="custom-input">
									<input type="text" placeholder="titulo" />
								</div>

								<div class="custom-input">
									<input type="text" placeholder="tipo" />
								</div>
								<div class="custom-input">
									<input type="date" placeholder="dataInicio" />
								</div>

								<div class="custom-input">
									<input type="date" placeholder="dataFinal" class="form-control" />
								</div>
</div>
								<div class="col s6">

									<div class="custom-input">
										<input type="text" placeholder="valor" />
									</div>
									
									<div class="custom-input">
										<input type="text" placeholder="descricao" />
									</div>
								</div>
							</div>
						</div>
				</div>
				</fieldset>


				<div class="form-group">
					<div class="col-sm-9">
						<button type="submit"
							class="btn btn-primary btn-block deep-purple darken-1">Finalizar
							Cadastro</button>
					</div>
				</div>



				</form>
			</div>
		</div>
	</div>

	<script src="/vendor/js/jquery.mim.js"></script>
	<script src="/vendor/js/hammer.js"></script>
	<script src="/vendor/js/materialize.js"></script>

</body>
</html>
