<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">




<head>
	<link rel="stylesheet" href="/vendor/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/login.css">
	
	<title>Login - morabem</title>
</head>
<body>
<div class="content-center h-100vh">
	<div class="form-wapper">
		<img class="logo" src="/logo-vertical.png" />
		<h1>Login</h1>
		<form th:action="@{/login}" th:object="${loginData}" method="post" id="form-login">
			<!--/*@thymesVar id="error" type="java.lang.String"*/-->
			<span th:unless="${error == null}" class="alert" th:text="${error}"></span>
			<div class="custom-input">
				<label for="email">E-mail</label>
				<input th:field="*{email}" name="email" id="email" type="email" placeholder="E-mail" required>
			</div>
			<div class="custom-input">
				<label for="senha">E-mail</label>
				<input th:field="*{senha}" name="senha" id="senha" type="password" placeholder="Senha" required>
			</div>
			
			<button class="btn waves-effect waves-light deep-purple darken-1" type="submit">
				ENTRAR
			</button>
		</form>
	</div>
</div>
<script src="/vendor/js/jquery.mim.js"></script>
<script src="/vendor/js/hammer.js"></script>
<script src="/vendor/js/materialize.js"></script>
<script>
</script>
</body>
</html>