<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<!-- Materialize: css -->
	<link rel="stylesheet" href="/vendor/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	
	<link rel="stylesheet" href="/css/global.css">
	
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Morabem - Nova publicação</title>
</head>
<style>
	
	h1 {
		font-size: 20px !important;
		font-weight: lighter !important;
		text-align: center;
	}
	
	.tipo label,
	.tipo label span{
		color: black !important;
	}
	
	.tipo label:nth-child(n+1) {
		margin-right: 3ch;
	}
	
	.confis {
		margin-bottom: 5rem;
	}
	
	.btn {
		display: block;
		margin: auto;
		margin-top: 3rem;
	}
</style>
<body>
<div class="container">
	
	<header class="flex row">
		<div>
			<a href="/">
				<img src="/logo-horizontal.png"/>
			</a>
		</div>
		<div class="flex row w-100 justify-content-end">
			<div th:replace="fragments/header :: ${session.usuarioLogado == null} ? 'sem-usuario' : 'com-usuario'"></div>
		</div>
	</header>
	
	<main>
		<h1>Anúnciar Imovel</h1>
		<section class="imovel row">
			<div class="col">
				<p>Imovel selecionado:</p>
				<p th:text="${anuncio.getImovel().printEndereco()}"></p>
			</div>
		</section>
		<section class="confis">
			<form th:object="${anuncio}" method="post" th:action="'/imoveis/' + ${anuncio.getImovel().getId()} + '/anunciar'">
				<fieldset>
					<legend>Sobre o anúncio</legend>
					<div class="row tipo">
						<div class="col s12">
							<label th:for="*{tipo}">Tipo do anúncio</label><br>
							<label th:each="tipo : ${tipos}" >
								<input class="with-gap" th:field="*{tipo}" type="radio" th:value="${tipo}" required/>
								<span th:text="${tipo}"></span>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="custom-input col s12">
							<input th:field="*{titulo}" type="text"
								   placeholder="Titulo" required/>
						</div>
					
					</div>
					<div class="row">
						<div class="custom-input col s12">
						<textarea th:field="*{descricao}" rows="5"
								  placeholder="Descrição" required></textarea>
						</div>
					</div>
					
					<div class="row">
						<div class="custom-input col s6">
							<input th:field="*{valor}" type="number"
								   placeholder="Preço do Imovel" required min="1"/>
						</div>
					</div>
				</fieldset>
				
				<div class="action">
					<input type="hidden" th:field="*{id}">
					<button class="btn waves-effect btn-block waves-light deep-purple darken-1" type="submit">
						Anúnciar
					</button>
				</div>
			</form>
		</section>
	</main>
</div>


<script src="/vendor/js/jquery.mim.js"></script>
<script src="/vendor/js/hammer.js"></script>
<script src="/vendor/js/materialize.js"></script>
<script>
	$('.dropdown-trigger').dropdown();
	
	$(document).ready(function(){
		$('.tooltipped').tooltip();
	});
</script>
</body>
</html>